#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/backlight.h>

&mt {
    flavor = "balanced";
};

/ {
    behaviors {
        tdAT: tap_dance_1 {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_1";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp AT>, <&kp ASTRK>, <&kp AMPS>;
        };
        
        tdEXCL: tap_dance_2 {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_2";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp EQUAL>, <&kp EXCL>;
        };
        
        tdPRCNT: tap_dance_3 {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_3";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp PRCNT>, <&kp PIPE>;
        };

        tdPAR: tap_dance_4 {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_4";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LPAR>, <&kp RPAR>;
        };

        tdBRC: tap_dance_5 {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_5";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LBRC>, <&kp RBRC>;
        };

        tdBKT: tap_dance_6 {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_6";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LBKT>, <&kp RBKT>;
        };

        tdQUOTE: tap_dance_7 {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_7";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp SINGLE_QUOTE>, <&kp DOUBLE_QUOTES>;
        };
    };

    keymap {
        compatible = "zmk,keymap";
        // ,-------------------------------------------.                                  ,-------------------------------------------.
        // |     |     |     |     |     |     |ESC/LR3|                                  |ESC/LR3|     |     |     |     |     |     |
        // |-----+-----+-----+-----+-----+-----+-------|                                  |-------+-----+-----+-----+-----+-----+-----|
        // |     |  Q  |  W  |  F  |  P  |  B  |       |                                  |       |  J  |  L  |  U  |  Y  |  ;  |     |
        // |-----+-----+-----+-----+-----+-----+-------| ,-----------.      ,-----------. |-------+-----+-----+-----+-----+-----+-----|
        // |     |  A  |  R  |  S  |  T  |G/LR1|       | |     |     |      |     |     | |       |  M  |  N  |  E  |  I  |  O  |     |
        // |-----+-----+-----+-----+-----+-----+-------' `-----+-----|      |-----+-----' `-------+-----+-----+-----+-----+-----+-----|
        // |     |  Z  |  X  |  C  |  D  |  V  |               |     |      |     |               |  K  |  M  |  ,  |  .  | WIN |     |
        // |-----+-----+-----+-----+-----+-----'   ,-----------+-----|      |-----+-----------.   `-----+-----+-----+-----+-----+-----|
        // |     |     |     |     |     |         |     |     |     |      |     |     |     |         |     |     |     |     |     |
        // `-----------------------------'         `-----------------'      `-----------------'         `-----------------------------'
        default_layer {
            bindings = <
                &trans &trans &trans &trans &trans &trans  &lt 3 ESC                                                                             &lt 3 ESC &trans &trans &trans    &trans  &trans   &trans
                &trans &kp Q  &kp W  &kp F  &kp P  &kp B   &trans                                                                                &trans    &kp J  &kp L  &kp U     &kp Y   &kp SEMI &trans
                &trans &kp A  &kp R  &kp S  &kp T  &lt 1 G &trans               &trans    &trans               &trans &trans                     &trans    &kp M  &kp N  &kp E     &kp I   &kp O    &trans
                &trans &kp Z  &kp X  &kp C  &kp D  &kp V          &trans        &trans    &trans &trans &trans &trans &trans      &trans                   &kp K  &kp H  &kp COMMA &kp DOT &kp LGUI &trans
                &trans &trans &trans &trans &trans                &mt LCTRL RET &lt 2 ESC &trans               &trans &lt 3 SPACE &mt LSHFT BSPC                  &trans &trans    &trans  &trans   &trans
            >;
        };
        // ,-----------------------------------------.                                  ,-----------------------------------------.
        // |     |     |     |     |     |     |     |                                  |     |     |     |     |     |     |     |
        // |-----+-----+-----+-----+-----+-----+-----|                                  |-----+-----+-----+-----+-----+-----+-----|
        // |     |     |     |     |     |     |     |                                  |     |  7  |  8  |  9  |     |     |     |
        // |-----+-----+-----+-----+-----+-----+-----| ,-----------.      ,-----------. |-----+-----+-----+-----+-----+-----+-----|
        // |     |     |     |     |     |     |     | |     |     |      |     |     | |     |  4  |  5  |  6  |     |  "  |     |
        // |-----+-----+-----+-----+-----+-----+-----' `-----+-----|      |-----+-----' `-----+-----+-----+-----+-----+-----+-----|
        // |     |     |     |     |     |     |             |     |      |     |             |  1  |  2  |  3  |     |     |     |
        // |-----+-----+-----+-----+-----+-----' ,-----------+-----|      |-----+-----------. `-----+-----+-----+-----+-----+-----|
        // |     |     |     |     |     |       |     |     |     |      |     |     |     |       |     |     |     |     |     |
        // `-----------------------------'       `-----------------'      `-----------------'       `-----------------------------'
        keypad {
            bindings = <
                &trans &trans &trans &trans &trans &trans &trans                                                         &trans &trans &trans &trans &trans &trans   &trans
                &trans &trans &trans &trans &trans &trans &trans                                                         &trans &kp N7 &kp N8 &kp N9 &trans &trans   &trans
                &trans &trans &trans &trans &trans &trans &trans        &trans &trans               &trans &trans        &trans &kp N4 &kp N5 &kp N6 &trans &tdQUOTE &trans
                &trans &trans &trans &trans &trans &trans        &trans &trans &trans &trans &trans &trans &trans &trans        &kp N1 &kp N2 &kp N3 &trans &trans   &trans
                &trans &trans &trans &trans &trans               &trans &trans &trans               &trans &kp N0 &kp N0               &trans &trans &trans &trans   &trans
            >;
        };
        // ,-----------------------------------------.                                  ,-----------------------------------------.
        // |     |     |     |     |     |     |     |                                  |     |     |     |     |     |     |     |
        // |-----+-----+-----+-----+-----+-----+-----|                                  |-----+-----+-----+-----+-----+-----+-----|
        // |     |     |     |     |     |     |     |                                  |     | HME | END |     |     |     |     |
        // |-----+-----+-----+-----+-----+-----+-----| ,-----------.      ,-----------. |-----+-----+-----+-----+-----+-----+-----|
        // |     |     |     |     | TAB |     |     | |     |     |      |     |     | |     |  ←  |  ↓  |  ↑  |  →  |     |     |
        // |-----+-----+-----+-----+-----+-----+-----' `-----+-----|      |-----+-----' `-----+-----+-----+-----+-----+-----+-----|
        // |     |     |     |     |     |     |             |     |      |     |             |     |     |     |     |     |     |
        // |-----+-----+-----+-----+-----+-----' ,-----------+-----|      |-----+-----------. `-----+-----+-----+-----+-----+-----|
        // |     |     |     |     |     |       |     |     |     |      |     |MINUS| PLS |       |     |     |     |     |     |
        // `-----------------------------'       `-----------------'      `-----------------'       `-----------------------------'
        fn {
            bindings = <
                &trans &trans &trans &trans &trans  &trans &trans                                                              &trans &trans   &trans   &trans &trans    &trans &trans
                &trans &trans &trans &trans &trans  &trans &trans                                                              &trans &kp HOME &kp END  &trans &trans    &trans &trans
                &trans &trans &trans &trans &kp TAB &trans &trans        &trans &trans               &trans &trans             &trans &kp LEFT &kp DOWN &kp UP &kp RIGHT &trans &trans
                &trans &trans &trans &trans &trans  &trans        &trans &trans &trans &trans &trans &trans &trans    &trans          &trans   &trans   &trans &trans    &trans &trans
                &trans &trans &trans &trans &trans                &trans &trans &trans               &trans &kp MINUS &kp PLUS                 &trans   &trans &trans    &trans &trans
            >;
        };
        // ,------------------------------------------.                                  ,-----------------------------------------.
        // |BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |RGBOFF|                                  |     |     |     |     |     |     |     |
        // |-----+-----+-----+-----+-----+-----+------|                                  |-----+-----+-----+-----+-----+-----+-----|
        // |     |  ?  |     |  /  | % | |  \  |BOOTL |                                  |BOOTL| [/] |     |  _  |     |     |     |
        // |-----+-----+-----+-----+-----+-----+------| ,-----------.      ,-----------. |-----+-----+-----+-----+-----+-----+-----|
        // |     | @*& |     |  `  |     |     |BTNXT | |     |     |      |     |     | |     | {/} |     | !/= |     | '/" |     |
        // |-----+-----+-----+-----+-----+-----+------' `-----+-----|      |-----+-----' `-----+-----+-----+-----+-----+-----+-----|
        // |     |     |  ^  |  $  |     |     |              |     |      |     |             | (/) |  #  |     |     |     |     |
        // |-----+-----+-----+-----+-----+-----'  ,-----------+-----|      |-----+-----------. `-----+-----+-----+-----+-----+-----|
        // |     |     |     |     |     |        |     |     |     |      |     |     |     |       |     |     |     |     |     |
        // `-----------------------------'        `-----------------'      `-----------------'       `-----------------------------'
        mod {
            bindings = <
                &bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4 &rgb_ug RGB_OFF                                                         &rgb_ug RGB_TOG &bl BL_INC &bl BL_DEC &trans    &trans &trans   &trans
                &trans     &kp QMARK    &trans       &kp FSLH     &tdPRCNT     &kp BSLH     &bootloader                                                             &bootloader     &tdBKT     &trans     &kp UNDER &trans &trans   &trans
                &trans     &tdAT        &trans       &trans       &kp GRAVE    &trans       &bt BT_NXT             &trans &trans               &trans &trans        &trans          &tdBRC     &trans     &tdEXCL   &trans &tdQUOTE &trans
                &trans     &trans       &trans       &kp CARET    &kp DLLR     &trans                       &trans &trans &trans &trans &trans &trans &trans &trans                 &tdPAR     &kp HASH   &trans    &trans &trans   &trans
                &trans     &trans       &trans       &trans       &trans                                    &trans &trans &trans               &trans &trans &trans                            &trans     &trans    &trans &trans   &trans
            >;
        };
    };
};

// ,-----------------------------------------.                                  ,-----------------------------------------.
// |     |     |     |     |     |     |     |                                  |     |     |     |     |     |     |     |
// |-----+-----+-----+-----+-----+-----+-----|                                  |-----+-----+-----+-----+-----+-----+-----|
// |     |     |     |     |     |     |     |                                  |     |     |     |     |     |     |     |
// |-----+-----+-----+-----+-----+-----+-----| ,-----------.      ,-----------. |-----+-----+-----+-----+-----+-----+-----|
// |     |     |     |     |     |     |     | |     |     |      |     |     | |     |     |     |     |     |     |     |
// |-----+-----+-----+-----+-----+-----+-----' `-----+-----|      |-----+-----' `-----+-----+-----+-----+-----+-----+-----|
// |     |     |     |     |     |     |             |     |      |     |             |     |     |     |     |     |     |
// |-----+-----+-----+-----+-----+-----' ,-----------+-----|      |-----+-----------. `-----+-----+-----+-----+-----+-----|
// |     |     |     |     |     |       |     |     |     |      |     |     |     |       |     |     |     |     |     |
// `-----------------------------'       `-----------------'      `-----------------'       `-----------------------------'
